.content-sidebar {
	margin: 50px auto 0;
	max-width: 1080px;
}
.blog-content {
	margin-right: 3%;
	float: left;
	width: 65%;
}
.blog-post {
	margin-bottom: 50px;
	img {
		// width: 100%;
		max-height: 430px;
	}
}
.entry-title {
	margin: 25px 0 10px;
}
.entry-title,
.entry-title a {
	color: #212127;
	font-size: 28px;
	font-weight: 600;
	font-family: 'Merriweather', serif;	
}

.date-comments {
	display: flex;
	.date {
		margin-right: 8px;
		font-size: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	 a {
		font-size: 10px;
		letter-spacing: 2px;
		color: #428BCA;
		text-transform: uppercase;
		transition: all 0.3s;
		&:hover {
			color: black;
		}
	}
}
.author-category {
	display: flex;
	margin: 10px 0;
	.author {
		margin-right: 8px;
	}
	p {
		color: black;
		font-size: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	a {
		font-weight: 300;
		color: #aaa;
		transition: all 0.3s;
		&:hover {
			color: black;
		}
	}
}
.entry-content {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}