footer {
	clear: both;
}
.page-footer {
	background: #212127;
	padding: 30px;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	p {
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 2px;
		color: lightgrey;
	}

}
.footer-social {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	a {
		color: lightgrey;
		font-size: 18px;
		margin: 0 5px;
	}
}