@media screen and (max-width: 620px) {
	.hero-content {
		h1 {
			font-size: 40px;
		}
	}
	.hero-keywords {
		flex-direction: column;
		text-align: center;

		p {
			margin: 2px 0;
		}

		p:nth-child(2):before,
		p:nth-child(2):after {
			content: '';
		}
	}
}

@media screen and (max-width: 520px) {
	.main-nav {
		position: relative;
	}
	#menu-btn {
		display: block;
	}
	#menu-main-nav {
		background-color: lighten($black, 10);
		display: none;
		justify-content: space-around;
		width: 100%;

		position: absolute;
		top: 50px;
		right: 0;
		&.show-main-nav {
			display: flex;
		}
		li {
			margin: 0;
		}
		a {
			color: white;
			padding: 10px 0;
		}
	}
}