#menu-btn {
	background-color: transparent;
	border: none;
	display: none;
	outline: transparent;
	i { 
		color: $black;

	}
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	img {
		height: 33px;
	}
}
#menu-main-nav {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
	}
	a {
		padding: 10px;
		color: $black;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 11px;
		border-bottom: 2px solid white;
		transition: all 0.4s;
		&:hover {
			border-color: $black;
		}
	}
}